<!DOCTYPE>
<html>
  <head>
    <title>{{ name }} {{ revision }} - LowKick</title>
    <link rel='stylesheet' href='/static/style.css'></link>
    <script type="text/javascript" src="/static/jquery.js"></script>
    <script type="text/javascript" src="/static/environ.js"></script>
    <script type="text/javascript" src="/static/lowkick.js"></script>
    <script type="text/javascript" src="/static/api.js"></script>
    <script type="text/javascript" src="/static/signals.js"></script>
    <script type="text/javascript" src="/static/messages.js"></script>
    <script type="text/javascript" src="/static/layout.js"></script>

    <!--[if IE]>
    <script>
      JSON = (function(u){ return u; })();
    </script>
    <script type="text/javascript" src="/static/json2.js"></script>
    <![endif]-->

    {{#scripts}}
    <script type="text/javascript" src="/scripts/{{ . }}"></script>
    {{/scripts}}

    {{#sandboxScripts}}
    <script type="text/javascript" src="/scripts/{{ . }}"></script>
    {{/sandboxScripts}}

  </head>
  <body>
    <h1><span class='name'>{{ name }}</span><span class='rev'>{{ revision }}</span></h1>

    <h2><span>Environment</span></h2>
    <div class='section'>
      <pre id="env">Detecting environment...</pre>
    </div>

    <div class='buttons'>
      <div class='desc'>Press the buttons to set the test result of this environment.</div>
      <a class="button fail" href="javascript: lowkick.fail()">Fail</a>
      <a class="button ok" href="javascript: lowkick.ok()">OK</a>
    </div>

    <div id="messages"></div>

    <h2><span>Results ({{ resultsFilename }})</span></h2>
    <div class='section'>
      <pre id="results">Loading results...</pre>
    </div>

    <h2><span>Loaded Scripts</span><span class='sandbox-name'></span></h2>
    <div class='section'>

      <ul class='scripts'>
        {{#scripts}}
        <li>{{ . }} <a href="/scripts/{{ . }}" class='url'>/static/{{ . }}</a></li>
        {{/scripts}}

        {{#sandboxScripts}}
        <li>{{ . }} <a href="/scripts/{{ . }}" class='url'>/static/{{ . }}</a></li>
        {{/sandboxScripts}}

        <ul>
    </div>

    <h2><span>Config ({{ configFilename }})</span></h2>
    <div class='section'>
      <pre>{{ config }}</pre>
    </div>



  </body>
</html>
